.api-info{
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
/* inicio do body e estilização da api*/
.api-container, p{
    color: #fff;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;  
}
.api-container > div {
    display: flex;
    border: 1px solid #fff;
}
  
.api-container > div > p {
    flex: 1;
    
    
      
}



